.colors {
    color: hsl(240, 78%, 98%);
    color:  hsl(234, 14%, 74%);
    color: hsl(233, 13%, 49%);
    color: hsl(232, 13%, 33%);
    background-color: linear-gradient(to right, hsl(236, 72%, 79%),hsl(237, 63%, 64%));
}

body {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-color: hsl(240, 78%, 98%);
    
}
h1, h2, h3, h4, h5 {
  font-weight: 700;
}

/* Main */

.main {
    text-align: center;
    width: 70%;
    margin: auto;
     
}

/* Toogle switch */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 30px;
  }
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to right, hsl(236, 72%, 79%),hsl(237, 63%, 64%));
    -webkit-transition: .4s;
    transition: .4s;
  }
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-image: linear-gradient(to right, hsl(236, 72%, 79%),hsl(237, 63%, 64%));
  }
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .slider-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }


/* Cards */
#card-center {
  color: hsl(240, 78%, 98%)!important;
  background-image: linear-gradient(to right, hsl(236, 72%, 79%),hsl(237, 63%, 64%));
  border-radius: 5px;
  margin-top: -20px;
  margin-bottom: -20px;
}
.center-title {
  padding-top: 20px;
}
.side-card {
  margin-bottom: -5px;
}
.price {
    font-size: 4.0rem;
    color: hsl(232, 13%, 33%);
}
.card-body {
  color: hsl(233, 13%, 49%);
}
.card-body ul {
    list-style-type: none;
    padding-inline-start: 0;
    
}
.card-body ul li {
  border-top: 1px solid;
  padding: 20px 0px;
}
.card-body ul li:last-child {
  border-bottom: 1px solid;
}

.btn {
    background-image: linear-gradient(to right, #a3a8f0,#696fdd);
    border: none;
    font-weight: 700;
}
#btn-side:active {
  background-image: none;
  background-color: white !important;
  color: hsl(237, 63%, 64%);
  outline-color: hsl(233, 13%, 49%);
  outline-style: solid;
  border: 1px solid hsl(233, 13%, 49%);
  
}
.btn:focus, .btn:active:focus, .btn.active:focus{
    box-shadow:none!important;
    background-color: white;
    
}
#btn-center {
    background-color: white;
    background-image: none;
    color: hsl(237, 63%, 64%);
}
#btn-center:active {
    background-image: linear-gradient(to right, #a3a8f0,#696fdd);
    outline-color: white;
    outline-style: solid;
    border: 1px solid white;
    color: white;
}


/* Footer */

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}